body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header,
.content,
.cta-wide,
.footer {
    width: 100%;
    max-width: 400px;
}
.header-wrapper,
.cta-wrapper,
.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


.header {
    display: flex;
}


.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content__col1 {

}
.content__col2 {

}


.reviews-wrapper {
    text-align: center;
}
.reviews {
    display: flex;
}
.reviews__item {

}


.cta-wrapper {
    background-color: orange;
}
.cta-wide {

}


.footer-wrapper {
    background-color: navy;
}
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* --- Elements --- */

.cta-button {
    display: inline-block;
    background-color: red;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 25px;
}