
/* --- Common --- */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root {
    --desktopWidth: 1110px;
    /* Primary */
    --brightRed: rgb(242, 95, 58);
    --paleRed: rgb(252, 146, 120);
    --paleRedText: rgb(230, 187, 184);
    --brightRedShadow: rgba(242, 95, 58, 1);
    --darkBlue: hsl(228, 39%, 23%);
    /* Neutral */
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryDarkBlueShadow: rgba(29, 30, 37, .35);
    --veryPaleRed: hsl(13, 100%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
}

a { text-decoration: none; }
ul, ol { margin: 0; }
h1, h2, h3, h4, h5, strong { color: var(--darkBlue); }

h1 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 40px;
}
h2 {
    font-size: 39px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 40px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.justify-right { justify-content: right; }
.justify-end { justify-content: end; }
.justify-center { justify-content: center; }

.drop-shadow { filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .05)); }


/* : markup */

body {
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--darkGrayishBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        url('../images/bg-tablet-pattern.svg') top -200px right -200px no-repeat,
        url('../images/bg-tablet-pattern.svg') top 1100px left -500px no-repeat;
}

.content-wrapper,
.header-wrapper,
.cta-wrapper,
.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;

}

.header,
.content,
.cta-wide,
.footer {
    width: 100%;
    max-width: var(--desktopWidth);
}

.input-form__textfield {
    border: none;
    border-radius: 100px;
    padding: 0 15px;
    font-size: 12px;
    margin-right: 10px;
    height: 45px;
}
.input-form__message {
    display: none;
    text-align: left;
    font-size: 10px;
    color: var(--brightRed);
    padding: 7px 0 0 15px;
    font-style: italic;
}

.is-input-error .input__textfield { color: var(--brightRed); }
.is-input-error .input__message { display: block; }

.button,
.cta-button {
    display: inline-block;
    background-color: var(--brightRed);
    color: white;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    width: fit-content;
    border-radius: 100px;
    height: 45px;
}

.button {
    padding: 12px 25px 10px 30px;
    border:0;
}

.cta-button {
    padding: 15px 30px 9px 30px;
    box-shadow: 0 15px 15px -15px var(--brightRedShadow);
}

.button:hover,
.cta-button:hover {
    background-color: var(--paleRed);
    cursor: pointer;
}


/* : header */

.header {
    display: flex;
    align-items: center;
    padding: 55px 0;
}

.header__links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
    font-size: 12px;
}

.header__links > * {
    list-style: none;
    padding: 0 15px;
    font-weight: 500;
}

.header__links a:link,
.header__links a:visited { color: var(--darkBlue); }
.header__links a:hover,
.header__links a:active { color: var(--darkGrayishBlue); }

.header__logo,
.header__cta {
    width: 100%;
    max-width: 150px;
}

.header__cta { text-align: right; }


/* : content */

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content__col1,
.content__col2 { padding: 60px 0; }

.content__col1 p {
    margin-bottom: 40px;
    max-width: 63%;
}

.content ol {
    list-style: none;
    counter-reset: c-counter;
}

.content ol li {
    counter-increment: c-counter;
    padding-left: 0px;
    margin-bottom: 40px;
}
.content ol li:last-of-type { margin-bottom: 0; }

.content ol li strong,
.content ol li p { padding-left: 80px; }

.content ol li strong {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 25px;
}

.content ol li::before {
    content: counter(c-counter, decimal-leading-zero);
    background: var(--brightRed);
    position: absolute;
    display: inline-block;
    padding: 8px 22px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-weight: 500;
}


/* : reviews */

.reviews-wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
}

.reviews {
    display: flex;
    margin: 120px 0 50px 0;
    width: fit-content;
}

.reviews__item {
    background-color: var(--veryLightGray);
    position: relative;
    padding: 60px 40px 40px 40px;
    margin: 0 15px;
    width: 540px;
}

.reviews__item strong {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 25px;
}

.reviews__avatar {
    width: 100%;
    position: absolute;
    top: -35px;
    left: 0;
}

.reviews__avatar img {
    width: 70px;
    margin: 0 auto;
}


/* : cta */

.cta-wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
    color: white;
    margin-top: 80px;
    background: top -140px  right -330px url(../images/bg-simplify-section-desktop-overlay.svg) no-repeat var(--brightRed);
}

.cta-wide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cta-wide p {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.2;
}

.cta__col2 {
    text-align: right;
    padding-top: 15px;
}

.cta-wide .cta-button {
    color: var(--brightRed);
    background-color: white;
    box-shadow: 0 15px 15px -15px var(--veryDarkBlueShadow);
}

.cta-wide .cta-button:hover { color: var(--paleRedText); }


/* : footer */

.footer-wrapper {
    background-color: var(--veryDarkBlue);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
    column-gap: 30px;
    position: relative;
}

.footer .fab { font-size: 22px; }

.footer > *:first-child {
    max-width: 146px;
    height: 100%;
}
.footer > *:first-child img { width: max-content; }
.footer > *:last-child { /* text-align: right; */ }

.footer__links {
    padding-left: 0;
    list-style: none;
}

.footer__links > * {
    display: block;
    line-height: 1;
    color: var(--veryLightGray);
}

.footer__links > *:nth-child(n+2) { padding-top: 20px; }

.footer a:link,
.footer a:visited { color: var(--veryLightGray); }
.footer a:hover,
.footer a:active { color: var(--paleRed); }

.footer__copy {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* --- Mobile layout --- */

@media (max-width: 720px) {

    body {
        font-size: 14px;
        background:
            url('../images/bg-tablet-pattern.svg') top -130px right -160px no-repeat,
            url('../images/bg-tablet-pattern.svg') top 500px right -230px no-repeat;
        background-size: 130%, 100%;
    }
    h1 {
        font-size: 36px;
        line-height: 1.3;
        padding-bottom: 10px;
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        font-size: 29px;
        line-height: 1.5;
        font-weight: 700;
        padding-bottom: 20px;
        padding-top: 70px;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .header-wrapper,
    .content-wrapper  {
        padding-left: 16px;
        padding-right: 16px;
    }


    /* : Mobile header */

    .header {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .header__logo img { width: 110px; }

    .header__links,
    .header__cta { display: none; }


    /* : Mobile content */

    .content {
        /* . swap table cells */
        grid-template:
            "col2" 1fr
            "col1" 1fr;
        grid-template-rows: fit-content(200px);
        line-height: 2;
    }

    .content > *:nth-child(1) { grid-area: col1; }
    .content > *:nth-child(2) { grid-area: col2; }

    .content__col1 { align-items: center; }
    .content__col1,
    .content__col2 { padding: 0 0 30px 0; }

    .content__col1 p {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .content__col1:first-of-type p {
        font-size: 16px;
        padding-bottom: 30px;
    }

    .content ol {
        padding-left: 0;
        padding-top: 20px
    }

    .content ol li strong {
        background-color: var(--veryPaleRed);
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 0;
        padding-left: 55px;
        width: 100%;
        height: 39px;
        margin-left: 20px
    }

    .content ol li p {
        padding-left: 0;
        padding-top: 12px;
        font-size: 14px;
    }

    .content ol li::before {
        height: 39px;
        padding: 6px 22px;
    }


    /* : Mobile reviews */

    .reviews-wrapper {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .reviews-wrapper h2 { padding-top: 40px; }

    .reviews { margin-top: 75px; }

    .reviews__item {
        background-color: var(--veryLightGray);
        position: relative;
        padding: 60px 40px 40px 40px;
        margin: 0 15px;
        width: calc(100vw - 25px);
    }


    /* : Mobile CTA */

    .cta-wrapper {
        margin-top: 30px;
        padding-top: 95px;
        padding-bottom: 95px;
        background: center left url(../images/bg-simplify-section-mobile-overlay.svg) no-repeat var(--brightRed);
    }

    .cta-wide { grid-template-columns: 1fr; }
    .cta-wide p { padding-bottom: 20px; }
    .cta-wide > * { text-align: center; }


    /* : Mobile footer */

    .footer-wrapper { padding-bottom: 40px; }

    .footer {
        /* . swap table cells */
        grid-template:
            "fcol4 fcol4" 1fr
            "fcol2 fcol3" 1fr
            "fcol1 fcol1" 1fr
            "fcol5 fcol5" 1fr;
        grid-template-rows: fit-content(200px);
    }

    .footer > *:nth-child(1) { grid-area: fcol1; }
    .footer > *:nth-child(2) { grid-area: fcol2; }
    .footer > *:nth-child(3) { grid-area: fcol3; }
    .footer > *:nth-child(4) { grid-area: fcol4; }

    .footer__copy { grid-area: fcol5; }

    .footer .fab { font-size: 36px; }

    .footer > *:first-child {
        max-width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        padding-top: 32px;
    }
    .footer > *:first-child img { width: 160px; }

    .footer__social {
        width: 100%;
        padding-bottom: 50px;
        justify-content: space-around;
    }

    .footer__links {
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 40px;
    }

    .footer__copy {
        padding-top: 40px;
        position: unset;
        text-align: center;
    }

}