
/* --- Common rules --- */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--dkGrayishBlue);
    font-size: 16px; font-weight: 500;
}
html,
body {
    /* :: set height to cover full page */
    margin: 0; height: 100%;
}
html body .is-hidden { display: none; }

:root {
    /* Primary */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --veryLtGrayishBlue: hsl(210, 60%, 98%);
    --ltGrayishBlue1: hsl(211, 68%, 94%);
    --ltGrayishBlue2: hsl(205, 33%, 90%);
    --grayishBlue: hsl(219, 14%, 63%);
    --dkGrayishBlue: hsl(219, 12%, 42%);
    --veryDkBlue: hsl(224, 21%, 14%);
    /* Added Custom Color */
    --linkActive: hsl(219, 79%, 47%);
}


/* --- Component classes --- */

.ntf-wrapper {
    background: var(--veryLtGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    /* :: set height to cover full page */
    height: auto;
    min-height: 100%;
}

.ntf {
    background: var(--white);
    max-width: 730px;
    width: 85%;
    border-radius: 25px;
    padding: 30px 30px 10px 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
    /* :: full page margins */
    margin: 10px 0;
}

.ntf p { margin: 0; }


/* --- Header --- */

.ntf__hdr {
    display: flex;
    margin: 0 0 30px 0;
    align-items: center;
}

.ntf__hdr-h {
    color: var(--veryDkBlue);
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.ntf__hdr-counter {
    color: var(--white);
    background-color: var(--blue);
    display: block;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

.ntf__hdr-markRead {
    margin-left: auto;
    appearance: none;
    border: none;
    background: none;
    font-size: 16px;
    /* align-self: flex-end; */
    cursor: pointer;
    padding: 0;
}
.ntf__hdr-markRead:hover { color: var(--linkActive); }


/* --- Notification list --- */

.ntf__elm {
    display: flex;
    margin: 0 0 10px 0;
    padding: 15px;
    border: 1px solid transparent;
 }

 .ntf__elm-uPic {
    width: 45px;
    height: 100%;
    margin: 0 20px 0 0;
 }

 .ntf__elm-age {
     color: var(--grayishBlue);
     padding: 5px 0 0 0;
 }

 .ntf-unread {
    background: var(--veryLtGrayishBlue);
    border: 1px solid var(--ltGrayishBlue1);
    border-radius: 10px;
 }

.ntf__elm-cite {
    border: 1px solid var(--ltGrayishBlue2);
    display: block;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0 0 0;
    font-style: normal;
    /* :: <a href> reset */
    text-decoration: none;
}

.ntf__elm-cite:hover { background: var(--ltGrayishBlue1); }

.ntf__elm-img-link { margin-left: auto; padding-left: 15px; }

.ntf__elm-img-link img {
    border-radius: 10px;
    border: 2px solid transparent;
    width: 50px;
    height: auto;
}
.ntf__elm-img-link img:hover { border: 2px solid var(--ltGrayishBlue2) }


/* :: Unread marks */

.ntf-unread .ntf__elm-text > p:first-of-type {
    position: relative;
    display: inline-block;
}

.ntf-unread .ntf__elm-text > p:first-of-type:after {
    /* : &nbsp; + &bulll; */
    content: "\0000a0\2022";
    color: var(--red);
    font-size: 24px;
    line-height: 15px;
}


/* :: Text links */

.ntf__elm-uName,
.ntf__elm-uGroup,
.ntf__elm-uPost { font-weight: 700; text-decoration: none;}

.ntf__elm-uName:link,
.ntf__elm-uName:visited { color: var(--veryDkBlue) }
.ntf__elm-uName:hover,
.ntf__elm-uName:active  { color: var(--linkActive) }

.ntf__elm-uGroup:link,
.ntf__elm-uGroup:visited { color: var(--blue) }
.ntf__elm-uGroup:hover,
.ntf__elm-uGroup:active  { color: var(--linkActive) }

.ntf__elm-uPost:link,
.ntf__elm-uPost:visited { color: var(--dkGrayishBlue) }
.ntf__elm-uPost:hover,
.ntf__elm-uPost:active { color: var(--linkActive) }


/* - - - Mobile layout - - - */

@media (max-width: 700px) {

    * { font-size: 14px; }

    .ntf {
        background: var(--white);
        max-width: 730px;
        width: 100%;
        border-radius: 0;
        padding: 25px 20px 10px 20px;
        box-shadow: none;
        /* :: full page margins */
        margin: 0;
    }

    .ntf__hdr { margin: 0 0 25px 0; }
    .ntf__hdr-h { font-size: 20px; }
    .ntf__hdr-counter { padding: 3px 10px; }
    .ntf__hdr-markRead { font-size: 14px; }

    .ntf__elm-uPic {
        width: 40px;
        height: 100%;
        margin: 0 15px 0 0;
     }

    .ntf-unread .ntf__elm-text > p:first-of-type:after {
        font-size: 22px;
        line-height: 12px;
    }
}
